* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.homepage-nav {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #131921;
    color: #fff;
}

.homepage-nav > h4 {
    width: 76px;
}

.homepage-nav > p {
    width: 80px;
    font-size: 12px;
}

.homepage-search-container {
    height: 30px;
    background-color: red;
    display: flex;
    flex-grow: 1;
}

.homepage-search-container input {
    flex-grow: 1;
}

.homepage-category-bar {
    background-color: #222F3E;
    padding: 10px 16px;
    height: 40px;
    display: flex;
    align-items: center;
}

.homepage-category-bar button {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    background-color: transparent;
    padding: 4px 8px;
    color: white;
    border: none;
}

.category-items {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    padding: 0 12px;
}

.homepage-body > .carousal-image {
    width: 100%;
}
.homepage-body > .products-cards-container {
    top: -320px;
    position: relative;
    margin: 0 16px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.products-info-card {
    background-color: white;
    flex-basis: 340px;
    flex-grow: 1;
}

.products-info-card h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.products-item-cards-container {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.products-item-card {
    width: calc(50% - 8px);
}

.products-item-card img {
    width: 100%;
    height: 106px;
}

.products-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #f7f7f7;
}

.search-product-card {
    display: flex;
    align-items: flex-start;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-product-card:hover {
   cursor: pointer;
}

.image-container {
    background-color: #F7F7F7;
    padding: 8px;
    border-radius: 8px;
    margin-right: 16px;
}

.product-image {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.product-info {
    flex: 1;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-price {
    font-size: 14px;
    color: #b12704;
    margin-bottom: 8px;
}

.product-description {
    font-size: 14px;
    color: #555;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ProductInfo.css */

.product-container {
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 0 0 130px;
    background-color: #fff;
}

.product-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.product-details {
    flex: 2;
    display: flex;
   
    flex-direction: column;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
   
    margin-bottom: 20px;
}

.product-price {
    font-size: 22px;
    color: #b12704;
    margin-top: auto;
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: #ff9900;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
}

.add-to-cart-button:hover {
    background-color: #e68a00;
}
.product-brand{
    color: #007195;
}