.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.search-product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.image-container {
  height: 250px; /* Adjust the height as needed */
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  object-position: center; /* Centers the image within the container */
}

.product-info {
  flex: 1; /* Allows product info to take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spreads content evenly */
  padding: 15px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #388e3c;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.add-to-cart-button {
  align-self: flex-end; /* Aligns button to the end of the container */
  margin-top: auto; /* Pushes button to the bottom */
  background-color: #f0c14b;
  color: #111;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ddb347;
}
